<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>URL SHORTNER</title>
</head>
<body style="background-image: url(https://i.pinimg.com/originals/6c/e7/69/6ce76996386d32a3e23d911a9accd5f6.jpg); background-position:left; ">
  
  <div class="container">
    <h1 style=" text-align: center;color: aliceblue; background: linear-gradient(to bottom ,skyblue 80%,azure);margin-top: 6px;">URL SHORTNER</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2" autocomplete="off">
      <button style="    color: aqua;
      background-color: #6491ed;
      font-family: cursive;
      font-size: 21px;
      border-width: thick;
      border-color: turquoise;
      border: double" class="btn btn-success" type="submit">Shrink</button>
    </form>
    
    <table style="background:linear-gradient(to bottom,#00ffd6 80%,azure); text-align: center;  width: 72%; margin-left: 97px;"  class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a style="font-size: medium;" href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a  style="color:crimson; font-size: medium;" href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>